---
import Header from "../layouts/Layout.astro";
import "../styles/title.css";
import reactSvg from "/svg/react-svg.svg";
import jestSvg from "/svg/jest-svg.svg";
import reduxSvg from "/svg/redux-svg.svg";
import styledComponents from "/svg/styled-components-svg.svg";
import typeScriptSvg from "/svg/typescript-svg.svg";
---

<Header title="Mauricio Borawski">
  <div id="title-container" class="container">
    <h1
      class="mx-auto h-min w-fit text-center text-6xl text-pastel-greenPrimary"
    >
      Mauricio Borawski
    </h1>
    <h2
      id="subTitle"
      class="h-min w-fit pt-3 text-center text-2xl text-pastel-greyPerl"
    >
      Software Developer
    </h2>
  </div>

  <main
    class="container mx-auto grid h-full grid-rows-1 text-pastel-greyPerl"
    id="main-content"
  >
    <div>
      <h3
        class="textAnimation mx-auto h-min w-5/6 text-center text-5xl text-pastel-greyPerl"
      >
        Hi and welcome !
      </h3>
      <h4
        class="textAnimation mx-auto h-min w-5/6 pt-10 text-center text-2xl text-pastel-greyPerl"
      >
        I'm a Front-End developer. I specialize in building websites and web
        applications. I'm constaly learing new things to improve my skills so I
        can offer high quality code.
      </h4>
      <div
        class="technologies textAnimation mx-auto h-min w-5/6 pt-10 text-center text-2xl text-pastel-greyPerl"
      >
        <h4>Technologies I’ve been working with recently:</h4>
        <div
          class="container mx-auto grid grid-cols-5 items-center justify-center pt-6"
        >
          <img
            src={typeScriptSvg}
            alt="typescript logo"
            class="technologiesIcon"
          />
          <img src={reactSvg} alt="typescript logo" class="technologiesIcon" />
          <img src={jestSvg} alt="typescript logo" class="technologiesIcon" />
          <img src={reduxSvg} alt="typescript logo" class="technologiesIcon" />
          <img
            src={styledComponents}
            alt="typescript logo"
            class="technologiesIcon"
          />
        </div>
      </div>
      <div
        class="container mx-auto flex flex-col items-center justify-center gap-5 pt-14"
      >
        <h3
          class="textAnimation mx-auto h-min w-5/6 text-center text-4xl text-pastel-greyPerl"
        >
          Get In Touch!
        </h3>
        <button
          class="textAnimation border-2 border-solid border-pastel-greenPrimary px-8 py-4 text-xl text-pastel-greenPrimary hover:bg-pastel-greenHover"
          >Contact</button
        >
      </div>
    </div>
    <div class="mouse-scroll-content textAnimation">
      <div class="mouse"></div>
    </div>
  </main>

  <script>
    const titleContainer = document.querySelector(
      "#title-container"
    ) as HTMLElement;
    const textContent = document.querySelectorAll(
      ".textAnimation"
    ) as unknown as Array<HTMLElement>;

    let timer: number = 0;

    clearTimeout(timer);

    timer = setTimeout(() => {
      if (titleContainer) {
        titleContainer.style.animationPlayState = "running";
      }
    }, 3000);

    titleContainer.addEventListener("animationend", (event: AnimationEvent) => {
      if (event.animationName === "moveUp") {
        textContent.forEach((element) => {
          element.style.animationPlayState = "running";
        });
      }
    });
  </script>
</Header>
