---
import Header from "../layouts/Layout.astro";
import "../styles/title.css";
import githubSvg from "/svg/github.svg";
import linkedinSvg from "/svg/linkedin.svg";
import cvSvg from "/svg/cv.svg";
import reactSvg from "/svg/react-svg.svg";
import jestSvg from "/svg/jest-svg.svg";
import reduxSvg from "/svg/redux-svg.svg";
import typeScriptSvg from "/svg/typescript-svg.svg";
import discord from "/svg/discord.svg";
import astro from "/svg/astro.svg";
---

<Header title="Mauricio Borawski">
  <div
    class="textAnimation absolute top-1/3 z-[100] hidden h-64 w-20 flex-col justify-evenly bg-pastel-lightDark lg:flex"
  >
    <a
      href="https://github.com/MauricioBorawski"
      target="_blank"
      class="socialIcon mx-auto"
      ><img src={githubSvg} alt="GitHub icon" class="bg-transparent" />
    </a>
    <a
      href="https://www.linkedin.com/in/mnborawski/"
      target="_blank"
      class="socialIcon mx-auto"
      ><img src={linkedinSvg} alt="GitHub icon" class="bg-transparent" />
    </a>
    <a href="/docs/mauricio-borawski-cv.pdf" class="socialIcon mx-auto" download
      ><img src={cvSvg} alt="GitHub icon" class="bg-transparent" />
    </a>
  </div>
  <div id="title-container" class="container">
    <h1
      class="mx-auto h-min w-fit text-center text-6xl text-pastel-greenPrimary"
    >
      Mauricio Borawski
    </h1>
    <h2
      id="subTitle"
      class="h-min w-fit pt-3 text-center text-2xl text-pastel-greyPerl"
    >
      Software Developer
    </h2>
  </div>

  <main
    class="container mx-auto grid h-full grid-rows-1 text-pastel-greyPerl"
    id="main-content"
  >
    <div>
      <h3
        class="textAnimation mx-auto h-min w-5/6 text-center text-5xl text-pastel-greyPerl"
      >
        Hi and welcome !
      </h3>
      <h4
        class="textAnimation mx-auto h-min w-5/6 pt-10 text-center text-2xl text-pastel-greyPerl"
      >
        I'm a Front-End developer. I specialize in building websites and web
        applications. I'm constaly learing new things to improve my skills so I
        can offer high quality code.
      </h4>
      <div
        class="technologies textAnimation mx-auto h-min w-5/6 py-16 text-center text-2xl text-pastel-greyPerl"
      >
        <h4>Technologies I’ve been working with recently:</h4>
        <div
          class="container mx-auto grid grid-rows-4 items-center justify-items-center gap-6 pt-6 lg:grid-cols-4 lg:grid-rows-1"
        >
          <img
            src={typeScriptSvg}
            alt="typescript logo"
            class="technologiesIcon"
          />
          <img src={reactSvg} alt="typescript logo" class="technologiesIcon" />
          <img src={jestSvg} alt="typescript logo" class="technologiesIcon" />
          <img src={reduxSvg} alt="typescript logo" class="technologiesIcon" />
        </div>
      </div>
      <div
        class="container mx-auto flex flex-col items-center justify-center gap-5 py-16"
      >
        <h3
          class="textAnimation mx-auto h-min w-5/6 text-center text-4xl text-pastel-greyPerl"
        >
          Get In Touch
        </h3>
        <button
          class="textAnimation border-2 border-solid border-pastel-greenPrimary px-8 py-4 text-xl text-pastel-greenPrimary hover:bg-pastel-greenHover"
          >Contact</button
        >
      </div>
    </div>
    <div class="py-24">
      <h3
        class="textAnimation mx-auto h-min w-5/6 py-24 text-center text-5xl text-pastel-greyPerl"
      >
        Where I've Worked
      </h3>
      <div class="textAnimation mx-16 h-min w-fit text-4xl lg:mx-auto">
        <h4 class="text-pastel-greenPrimary">Blockfi</h4>
        <div class="mx-2 my-1">
          <p class="text-lg">Front-End Engenieer</p>
          <p class="text-lg">03/2020 - 12/2022</p>
          <div class="mx-2 my-2">
            <p class="text-lg">
              Develop new features used by millions of users.
            </p>
            <p class="text-lg">Increase test coverage from 30% to 98%.</p>
            <p class="text-lg">Write documentation for internal libraries.</p>
            <p class="text-lg">
              Introduce new members of the team to the code base.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-24">
      <h3
        class="textAnimation mx-auto h-min w-5/6 py-24 text-center text-5xl text-pastel-greyPerl"
      >
        Personal Projects
      </h3>
      <div
        class="mx-auto mb-10 flex w-5/6 flex-col items-center justify-center rounded-lg bg-pastel-lightDark py-6"
      >
        <div
          class="flex h-48 w-48 items-center justify-center rounded-xl bg-blueDiscord px-10 py-10"
        >
          <img src={discord} class="h-24 w-24 bg-transparent" />
        </div>
        <h4 class="bg-transparent py-4 text-3xl">Discord Bot</h4>
        <h4 class="bg-transparent text-xl">Lol Discord Bot</h4>
        <p class="w-5/6 bg-transparent pt-2">
          Lol Discord is an application for Discord that lets you search players
          and know they winrate, amount of games played in the season and their
          main champions. Also if the player is in a live game it shows you the
          game stats.
        </p>
        <h4 class="bg-transparent pt-4 text-xl">Technologies</h4>
        <div class="flex w-full justify-around bg-transparent pt-4">
          <p class="bg-transparent text-xl text-pastel-greenPrimary">Node js</p>
          <p class="bg-transparent text-xl text-pastel-greenPrimary">
            Discord.Js
          </p>
        </div>
        <a
          href="https://github.com/MauricioBorawski/LolDiscordBot"
          target="_blank"
          class="socialIcon mx-auto py-4"
          ><img src={githubSvg} alt="GitHub icon" class="bg-transparent" />
        </a>
      </div>

      <div
        class="mx-auto flex w-5/6 flex-col items-center justify-center rounded-lg bg-pastel-lightDark py-6"
      >
        <div
          class="flex h-48 w-48 items-center justify-center rounded-xl bg-blueDiscord px-10 py-10"
        >
          <img src={discord} class="h-24 w-24 bg-transparent" />
        </div>
        <h4 class="bg-transparent py-4 text-3xl">Discord</h4>
        <h4 class="bg-transparent text-xl">Ichika</h4>
        <p class="w-5/6 bg-transparent pt-2">
          Ichika is a virtual assistant for Discord, it helps you to create
          notes that you can share with other members of the discord server.
        </p>
        <h4 class="bg-transparent pt-4 text-xl">Technologies</h4>
        <div class="flex w-full justify-around bg-transparent pt-4">
          <p class="bg-transparent text-xl text-pastel-greenPrimary">Node js</p>
          <p class="bg-transparent text-xl text-pastel-greenPrimary">
            Discord.Js
          </p>
          <p class="bg-transparent text-xl text-pastel-greenPrimary">MongoDB</p>
        </div>
        <a
          href="https://github.com/MauricioBorawski/Ichika"
          target="_blank"
          class="socialIcon mx-auto py-4"
          ><img src={githubSvg} alt="GitHub icon" class="bg-transparent" />
        </a>
      </div>

      <div
        class="mx-auto mt-10 flex w-5/6 flex-col items-center justify-center rounded-lg bg-pastel-lightDark py-6"
      >
          <img src={astro} class="h-24 w-24 bg-transparent" />
        <h4 class="bg-transparent py-4 text-3xl">Portafolio</h4>
        <h4 class="bg-transparent pt-4 text-xl">Technologies</h4>
        <div class="flex w-full justify-around bg-transparent pt-4">
          <p class="bg-transparent text-xl text-pastel-greenPrimary">Astro</p>
          <p class="bg-transparent text-xl text-pastel-greenPrimary">
            Tailwind
          </p>
        </div>
        <a
          href="https://github.com/MauricioBorawski/my-portfolio"
          target="_blank"
          class="socialIcon mx-auto py-4"
          ><img src={githubSvg} alt="GitHub icon" class="bg-transparent" />
        </a>
      </div>
    </div>

    <script>
      /**
       * TODO: Move the js to other file
       * TODO: Update the timeout function to remove the moveup animation
       */

      const titleContainer = document.querySelector(
        "#title-container"
      ) as HTMLElement;
      const textContent = document.querySelectorAll(
        ".textAnimation"
      ) as unknown as Array<HTMLElement>;

      let timer: number = 0;

      clearTimeout(timer);

      timer = setTimeout(() => {
        if (titleContainer) {
          titleContainer.style.animationPlayState = "running";
        }
      }, 1500);

      titleContainer.addEventListener(
        "animationend",
        (event: AnimationEvent) => {
          if (event.animationName === "moveUp") {
            textContent.forEach((element) => {
              element.style.animationPlayState = "running";
            });
          }
        }
      );
    </script>
  </main>
</Header>
