---
import Title from "./Title.astro";
import type { Position } from "../constants";

interface Props extends Position {
  id: string;
  dataSet: string;
}

const { title, time, technologies, active, summary, achivements, id, dataSet } =
  Astro.props;
---

<div
  class:list={["flex flex-col justify-center", !active ? "hidden" : ""]}
  id={id}
  data-company={dataSet}
>
  <Title type={"h3"}>{title}</Title>
  <div class="ml-3">
    <p>{time}</p>
    <p>Technologies used: {technologies}</p>
  </div>
  <p>{summary}</p>
  <ul class="ml-6">
    {
      achivements.map((element) => (
        <li>
          <span class="text-primaryOrange">▹</span>
          {element}
        </li>
      ))
    }
  </ul>
</div>
