---
import Title from "../components/Title.astro";
import Divider from "../components/Divider.astro";
import Button from "../components/Button.astro";
import ExperienceSection from "../components/ExperienceSection.astro";

import { companies, experiences } from "../constants";
---

<section class="m-12">
  <Title type="h2">Where I've worked</Title>
  <div class="mt-5 flex h-60 items-center justify-start gap-3">
    <div class="flex gap-1 h-full w-24 flex-col items-center" id="experience-places">
      {
        companies.map((company) => (
          <Button id={`btn-experience`} active={experiences[company].active}>
            {company}
          </Button>
        ))
      }
    </div>
    <Divider />
    <div class="h-full w-2/3">
      {
        companies.map((company) => (
          <ExperienceSection
            id={"experience-content"}
            active={experiences[company].active}
            achivements={experiences[company].achivements}
            technologies={experiences[company].technologies}
            title={experiences[company].title}
            time={experiences[company].time}
            summary={experiences[company].summary}
            dataSet={company}
          />
        ))
      }
    </div>
  </div>
</section>

<script>
  import { companies, experiences, Companies } from "../constants";

  const activeBtnClasses = ["bg-primaryOrange", "text-slate-50"];

  if (companies && experiences) {

    const buttons = document.querySelectorAll("#btn-experience");
    const experienceContent = document.querySelectorAll(
      "#experience-content"
    ) as unknown as HTMLElement[];

    buttons.forEach((btn) => {
      btn.addEventListener("click", (arg: any) => {
        const company = arg.target.textContent.trim() as Companies;
        const currentBtnState = experiences[company].active;

        if (!currentBtnState) {
          activeBtnClasses.forEach((style) => {
            btn.classList.add(style);

            buttons.forEach((button) => {
              if (
                button.textContent?.trim() &&
                button.textContent?.trim() !== company
              ) {
                button.classList.remove(style);
                experiences[button.textContent?.trim() as Companies].active =
                  currentBtnState;
              }
            });

            experienceContent.forEach((element) => {
              if (element.dataset.company === company) {
                element.classList.remove("hidden");
              } else {
                element.classList.add("hidden");
              }
            });
          });
        }
        experiences[company].active = !currentBtnState;
      });
    });
  }
</script>
