---
import Container from "../components/Container.astro";
import CustomIcon from "../components/CustomIcon.astro";
import Title from "../components/Title.astro";
import Link from "../components/Link.astro";

import MainPhoto from "../../public/main-photo.jpg";
import DownloadIcon from "../../public/svg/download.svg";
import LinkedinIcon from "../../public/svg/linkedin.svg";
import GithubIcon from "../../public/svg/github.svg";

import Cv from "../../public/docs/Mauricio Borawski CV.pdf";
---

<style>
  .btn-download:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #f27e63;
    transform: translateY(-0.25em);
  }
</style>
<main class="flex h-screen flex-col items-center justify-center lg:flex-row">
  <section class="mx-6 text-left">
    <Title>Mauricio Borawski</Title>
    <p class="max-w-xl pt-5 text-xl text-primary">
      Hi, I am a React developer with experience in helping to create and
      maintain a better code base for reusability. Passionate about learning and
      development with a desire to apply skills on a larger development team.
    </p>
    <Container class="gap-4 mt-3">
      <Link link="https://www.linkedin.com/in/mnborawski/">
        {(<CustomIcon icon={LinkedinIcon} class="h-12 w-12" />)}
      </Link>
      <Link link="https://github.com/MauricioBorawski">
        {(<CustomIcon icon={GithubIcon} class="h-12 w-12" />)}
      </Link>
      <Link
        link={Cv}
        download="Mauricio Borawski CV"
        class="btn-download max-w-fit rounded-xl bg-primaryOrange p-4 text-slate-50 drop-shadow-md hover:border-b-0"
      >
        {(<CustomIcon icon={DownloadIcon} />)} Resume
      </Link>
    </Container>
  </section>
  <section class="w-[65%]">
    <img src={MainPhoto} />
  </section>
</main>
