---
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { projects } from "../constants";
---

<section class="sm:min-h-screen lg:h-[70vh]">
  <Container class="flex-col justify-center items-center gap-8">
    <Title type={"h2"}>My Projects</Title>
    <Container class="flex-col gap-4 justify-center lg:flex-row lg:w-5/6 flex-wrap">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            link={project.github}
            description={project.summary}
            technologies={project.techonolgies}
            image={project.image}
          />
        ))
      }
    </Container>
  </Container>
</section>
